page-login {

  .fingerprint-container {
    margin: 0 auto;
    width: 4.1em;
  }

  .button-icon-only {
    background-color: #dfebff;
    margin-top: 50px;

    ion-icon {
      padding: 0 0.4em;
      color: #525252;
    }
  }
}
