page-addstudenttobatch {

  .vertical-scroll {
    position: absolute;
    bottom: 0px;
    top: 140px;
    left: 0px;
    right: 0px;
  }

  .title-small {
    font-size: 0.6em;
    font-weight: normal;
    text-align: center;
    display: block;
  }

  .title-main {
    display: block;
    text-align: center;
  }

  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 120px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
      margin: 0px 5px;
      position: relative;
    }

    div img {
      margin: 10px;
      margin: auto;
    }

    ion-icon {
      position: absolute;
      right: 3px;
      top: 0px;
    }

    ion-avatar {
      margin-top: 8px;
    }
  }

  ion-scroll[scroll-avatar] {
    height: 70px;

    h6 {
      text-align: center;
      width: 64px;
      overflow: hidden;
      text-overflow: ellipsis
    }
  }
  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }
}
